.card2 {
    padding: 20px;
    text-align: left;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.template-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

.add-button {
    background-color: #7a117a;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 12px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 12px;
    border: 1px solid #7a117a;
    width: 100px;
}

.add-button:hover {
    background-color: #0056b3;
}

.example-post {
    margin-top: 15px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Add styles for the dropdown */
.program-dropdown {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.add-button.disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}

/* CSS for Existing Templates Section */
.existing-templates {
    margin-top: 20px;
}

.template-heading {
    font-size: 18px;
    margin-bottom: 10px;
}

.template-list {
    list-style: none;
    padding: 0;
}

.template-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.delete-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-button.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.delete-button:hover {
    background-color: #d32f2f;
}