#add-program-form{
    text-align: left;
}

#image-preview label img, #image-preview label,
#image-preview2 label img, #image-preview2 label,
#image-preview3 label img, #image-preview3 label{
    width: 100%;
    height: 100%;
}


.theme-white .navbar{
    background-color:#fff;
    box-shadow:15px 9px 25px 0 rgba(0, 0, 0, 0.1);
}